:root{
    --buff-light: #f8eedd;
    --buff: #f3e6d0;
    --green-light: #579e6c;
    --green: #417651;
    --green-dark: #2e5339;
    --grey-dark: #31230d;
}

@layer utilities {

  /* Background colour  */
  .b-buff-light { background-color: var(--buff-light); }
  .b-buff { background-color: var(--buff); }
  .b-green-light { background-color: var(--green-light); }
  .b-green { background-color: var(--green); }
  .b-green-dark { background-color: var(--green-dark); }
  .b-grey-dark { background-color: var(--grey-dark); }
  .b-white-35 { background-color: rgba(255, 255, 255, 0.35); }
  .b-black-35 { background-color: rgba(0, 0, 0, 0.35); }

  /* Text colour  */
  .c-buff-light { color: var(--buff-light); }
  .c-buff { color: var(--buff); }
  .c-green-light { color: var(--green-light); }
  .c-green { color: var(--green); }
  .c-green-dark { color: var(--green-dark); }
  .c-grey-dark { color: var(--grey-dark); }

  /* Border colour  */
  .br-buff-light { border-color: var(--buff-light); }
  .br-buff { border-color: var(--buff); }
  .br-green-light { border-color: var(--green-light); }
  .br-green { border-color: var(--green); }
  .br-green-dark { border-color: var(--green-dark); }
  .br-grey-dark { border-color: var(--grey-dark); }
}