.home-hero {
  @apply
    absolute
  ;

  &:after {
    content: "";
    @apply
      absolute
      z-10
      bottom-0
      left-0
      right-0
      b-green-dark--grad
      h-32
      md:h-64
      xl:h-80
    ;
  }

}

.home-content {
  margin-top: 110vh;

  @screen md {
    margin-top: calc(110vh - 160px);
  }
  @screen xl {
    margin-top: calc(110vh - 125px);
  }
}