.nav {
  @apply
    hidden
    md:flex
    w-full
    container
    xl:absolute
    xl:top-[55px]
  ;
}

.nav-item {
  @apply
    text-md
    uppercase
    c-beige
    font-light
  ;
}

.nav-item a {

  @apply
    relative
  ;


  &:after {
    content: "";
    @apply
      absolute
      rounded-full
      b-beige
      w-0
      h-0
      -bottom-2
      left-1/2
      ml-0
      transition-all
      duration-200
      ease-in-out
    ;
  }

  &:hover:after,
  &:focus:after {
    @apply
      w-2
      h-2
      -ml-1
      -bottom-3
    ;
  }
}

.nav-item.is-active a {
  &::after {
    @apply
      w-2
      h-2
      -ml-1
      -bottom-3
    ;
  }
}


.mobile-nav {
  @apply
    absolute
    pt-[175px]
    top-0
    bottom-0
    b-green-dark
    left-full
    transition-all
    duration-300
    ease-in-out
    z-10
  ;

  &.is-active {
    @apply
      left-0
    ;
  }
}
.mobile-nav-item {
  @apply
    text-xl
    tracking-wide
    uppercase
    c-beige
    relative
  ;

  &:after {
    content: "";
    @apply
      w-8
      h-px
      b-beige
      bottom-0
      left-1/2
      -ml-4
      absolute
    ;
  }

  &:last-child:after {
    @apply hidden;
  }
}

.mobile-nav-item a {
  @apply c-beige;
}

.mobile-nav-toggle {
  @apply
    w-12
    h-12
    p-2
    flex
    items-center
    relative
  ;

  span,
  span:before,
  span:after {
    @apply
      transition-all
      duration-200
      ease-in-out
      h-px
      b-beige
    ;
  }

  span {
    @apply
      w-[23px]
    ;

    &:before,
    &:after {
      content: "";
      @apply
        absolute
        left-2
      ;
    }

    &:before {
      @apply
        w-[31px]
        top-3
      ;
    }

    &:after {
      @apply
        w-[28px]
        bottom-3
      ;
    }
  }

  &:hover,
  &:focus {

    span,
    span:before,
    span:after {
      @apply w-[32px];
    }

  }

  &.is-active {
    span {
      @apply
        bg-transparent
        top-0
      ;

      &:before,
      &:after {
        @apply
          w-[31px]
          top-[23px]
          left-[9px]
          bottom-auto
        ;
      }

      &:before {
        @apply
          rotate-45
        ;
      }

      &:after {
        @apply
          -rotate-45
        ;
      }
    }
  }
}

.social-nav {
  @apply
    list-none
    flex
    gap-8
    text-sm
  ;
}
