.tab-nav {
  @apply
    flex
    flex-col
    md:flex-row
    gap-4
    md:gap-8
    items-start
    mb-4
    md:mb-8
  ;
}

.tab-button {
  @apply
    font-semibold
    uppercase
  ;


    border-bottom: 2px solid transparent;

  &.active {
    border-bottom: 2px solid var(--orange);
  }

}

