{% assign media = site.data.galleries[include.id] %}

<div class="content-bleed w-screen-scroll my-12 lg:my-24 overflow-auto lg:overflow-hidden relative snap-start" data-gallery>
  <!-- Media -->
  <div class="flex gap-6 lg:gap-12 relative transition-all duration-200 ease-in-out snap-x snap-proximity" data-gallery-track>

    {% for item in media %}
      {% if item.content %}
        {% include image-with-content.html url=item.url alt=item.alt content=item.content %}
      {% elsif item.type == "video" %}
        {% include video.html url=item.url url=item.url %}
      {% else %}
        {% include image.html url=item.url alt=item.alt block_classes="w-auto h-[75vh] lg:h-[95vh] drop-shadow-base shrink-0 snap-start" classes="w-full h-full" width=600 height=900 %}
      {% endif %}
    {% endfor %}

  </div>

  <!-- Controls -->
  <div class="absolute z-20 top-0 bottom-0 left-0 w-[25vw] lg:w-[10vw] group flex items-center justify-center cursor-pointer" data-gallery-prev>
    <button class="rounded-full b-green-light w-24 h-24 lg:w-40 lg:h-40 shrink-0 rotate-0 flex items-center justify-center transition-all duration-200 ease-in-out -ml-48 opacity-0 group-hover:ml-0 group-focus:ml-0 group-hover:opacity-100 group-focus:opacity-100 group-hover:rotate-180 group-focus:rotate-180"><img src="/assets/images/arrow.svg" class="w-8 lg:w-12 h-auto" role="presentation" width="76" height="51"></button>
  </div>
  <div class="absolute top-0 bottom-0 right-0 w-[25vw] lg:w-[10vw] group flex items-center justify-center cursor-pointer" data-gallery-next>
    <button class="rounded-full b-green-light w-24 h-24 lg:w-40 lg:h-40 shrink-0 rotate-180 flex items-center justify-center transition-all duration-200 ease-in-out ml-48 opacity-0 group-hover:ml-0 group-focus:ml-0 group-hover:opacity-100 group-focus:opacity-100 group-hover:rotate-0 group-focus:rotate-0"><img src="/assets/images/arrow.svg" class="w-8 lg:w-12 h-auto" role="presentation" width="76" height="51"></button>
  </div>
</div>