<div class="relative w-auto h-[75vh] lg:h-[95vh] shrink-0 snap-start" data-image-content>
  {% include image.html url=include.url alt=include.alt block_classes="w-auto h-full drop-shadow-base" classes="w-full h-full" width=600 height=900 %}
  <div class="absolute z-20 inset-0 b-white-35 flex items-center justify-center group cursor-pointer opacity-0 transition-all duration-300 ease-in-out hover:opacity-100 focus:opacity-100" data-image-content-open>
    <button class="rounded-full b-green-light w-0 h-0 text-zero shrink-0 flex items-center justify-center transition-all duration-300 ease-in-out opacity-0 font-serif
    group-hover:w-16 group-hover:h-16 group-hover:lg:w-24 group-hover:lg:h-24 group-hover:opacity-100 group-hover:text-sm
    group-focus:w-16 group-focus:h-16 group-focus:lg:w-24 group-focus:lg:h-24 group-focus:opacity-100 group-focus:text-sm">Whaaat?</button>
  </div>
  <div class="absolute z-10 inset-0 b-black-35 flex items-end justify-start text-white font-sans p-8 lg:p-12 lg:text-sm opacity-0 transition-all duration-300 ease-in-out" data-image-content-target>
    <button class="absolute top-5 right-5" data-image-content-close>
      <img src="/assets/images/close.svg" class="w-4 h-4 lg:w-6 lg:h-6" role="presentation" width="28" height="28">
    </button>
    {{ include.content }}
  </div>
</div>