
<a href="{{ post.url }}" class="relative pb-4 lg:pb-8 block pt-px max-w-2/3 lg:max-w-none group
before:content=[''] before:w-3 before:h-3 before:absolute before:top-1.5 before:-left-5 before:rounded-full before:b-green-light 
lg:before:top-auto lg:before:left-auto lg:before:-bottom-9 lg:before:right-4
lg:after:content=[''] lg:after:w-px lg:after:b-green-light lg:after:h-full lg:after:absolute lg:after:-bottom-7 lg:after:right-[21px] lg:after:z-0">
  <span class="uppercase tracking-wide lg:text-xs mb-1 inline-block
    lg:absolute lg:-bottom-24 lg:ml-0 lg:w-11 lg:text-center lg:right-0">{{ include.post.date | date: "%b" }}</span>
  <span class="uppercase tracking-extra mb-1 block lg:text-xs">{{ include.post.location }}</span>
  <div class="relative">
    {% include image.html url=include.post.hero.url alt=include.post.hero.alt block_classes="w-auto h-auto grayscale transition-all duration-700 ease-in-out drop-shadow-base group-hover:grayscale-0 relative z-20" classes="w-full h-full" %}
    <div class="b-white absolute inset-0 z-20 mix-blend-lighten opacity-30 transition-all duration-700 ease-in-out group-hover:opacity-0"></div>
  </div>
  <h3 class="text-lg lg:text-base mt-2 mb-0 lg:pr-7">{{ include.post.title }}</h3>
</a>