*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
} /*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/ /*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/
html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
  tab-size: 4; /* 3 */
  font-family: elido, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/
button,
[role=button] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden=until-found])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.-top-6 {
  top: -1.5rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-2 {
  bottom: 0.5rem;
}

.left-0 {
  left: 0px;
}

.left-4 {
  left: 1rem;
}

.right-0 {
  right: 0px;
}

.right-5 {
  right: 1.25rem;
}

.top-0 {
  top: 0px;
}

.top-4 {
  top: 1rem;
}

.top-5 {
  top: 1.25rem;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.col-span-full {
  grid-column: 1/-1;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.-mb-\[8px\] {
  margin-bottom: -8px;
}

.-ml-0 {
  margin-left: 0px;
}

.-ml-0\.5 {
  margin-left: -0.125rem;
}

.-ml-1 {
  margin-left: -0.25rem;
}

.-ml-1\.5 {
  margin-left: -0.375rem;
}

.-ml-10 {
  margin-left: -2.5rem;
}

.-ml-11 {
  margin-left: -2.75rem;
}

.-ml-12 {
  margin-left: -3rem;
}

.-ml-14 {
  margin-left: -3.5rem;
}

.-ml-16 {
  margin-left: -4rem;
}

.-ml-2 {
  margin-left: -0.5rem;
}

.-ml-2\.5 {
  margin-left: -0.625rem;
}

.-ml-20 {
  margin-left: -5rem;
}

.-ml-24 {
  margin-left: -6rem;
}

.-ml-28 {
  margin-left: -7rem;
}

.-ml-3 {
  margin-left: -0.75rem;
}

.-ml-3\.5 {
  margin-left: -0.875rem;
}

.-ml-32 {
  margin-left: -8rem;
}

.-ml-36 {
  margin-left: -9rem;
}

.-ml-4 {
  margin-left: -1rem;
}

.-ml-40 {
  margin-left: -10rem;
}

.-ml-44 {
  margin-left: -11rem;
}

.-ml-48 {
  margin-left: -12rem;
}

.-ml-5 {
  margin-left: -1.25rem;
}

.-ml-52 {
  margin-left: -13rem;
}

.-ml-56 {
  margin-left: -14rem;
}

.-ml-6 {
  margin-left: -1.5rem;
}

.-ml-60 {
  margin-left: -15rem;
}

.-ml-64 {
  margin-left: -16rem;
}

.-ml-7 {
  margin-left: -1.75rem;
}

.-ml-72 {
  margin-left: -18rem;
}

.-ml-8 {
  margin-left: -2rem;
}

.-ml-80 {
  margin-left: -20rem;
}

.-ml-9 {
  margin-left: -2.25rem;
}

.-ml-96 {
  margin-left: -24rem;
}

.-ml-px {
  margin-left: -1px;
}

.-mt-0 {
  margin-top: 0px;
}

.-mt-0\.5 {
  margin-top: -0.125rem;
}

.-mt-1 {
  margin-top: -0.25rem;
}

.-mt-1\.5 {
  margin-top: -0.375rem;
}

.-mt-10 {
  margin-top: -2.5rem;
}

.-mt-11 {
  margin-top: -2.75rem;
}

.-mt-12 {
  margin-top: -3rem;
}

.-mt-14 {
  margin-top: -3.5rem;
}

.-mt-16 {
  margin-top: -4rem;
}

.-mt-2 {
  margin-top: -0.5rem;
}

.-mt-2\.5 {
  margin-top: -0.625rem;
}

.-mt-20 {
  margin-top: -5rem;
}

.-mt-24 {
  margin-top: -6rem;
}

.-mt-28 {
  margin-top: -7rem;
}

.-mt-3 {
  margin-top: -0.75rem;
}

.-mt-3\.5 {
  margin-top: -0.875rem;
}

.-mt-32 {
  margin-top: -8rem;
}

.-mt-36 {
  margin-top: -9rem;
}

.-mt-4 {
  margin-top: -1rem;
}

.-mt-40 {
  margin-top: -10rem;
}

.-mt-44 {
  margin-top: -11rem;
}

.-mt-48 {
  margin-top: -12rem;
}

.-mt-5 {
  margin-top: -1.25rem;
}

.-mt-52 {
  margin-top: -13rem;
}

.-mt-56 {
  margin-top: -14rem;
}

.-mt-6 {
  margin-top: -1.5rem;
}

.-mt-60 {
  margin-top: -15rem;
}

.-mt-64 {
  margin-top: -16rem;
}

.-mt-7 {
  margin-top: -1.75rem;
}

.-mt-72 {
  margin-top: -18rem;
}

.-mt-8 {
  margin-top: -2rem;
}

.-mt-80 {
  margin-top: -20rem;
}

.-mt-9 {
  margin-top: -2.25rem;
}

.-mt-96 {
  margin-top: -24rem;
}

.-mt-px {
  margin-top: -1px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-52 {
  margin-bottom: 13rem;
}

.mb-\[75vh\] {
  margin-bottom: 75vh;
}

.ml-0 {
  margin-left: 0px;
}

.ml-0\.5 {
  margin-left: 0.125rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-1\.5 {
  margin-left: 0.375rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.ml-12 {
  margin-left: 3rem;
}

.ml-14 {
  margin-left: 3.5rem;
}

.ml-16 {
  margin-left: 4rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-2\.5 {
  margin-left: 0.625rem;
}

.ml-20 {
  margin-left: 5rem;
}

.ml-24 {
  margin-left: 6rem;
}

.ml-28 {
  margin-left: 7rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-3\.5 {
  margin-left: 0.875rem;
}

.ml-32 {
  margin-left: 8rem;
}

.ml-36 {
  margin-left: 9rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-40 {
  margin-left: 10rem;
}

.ml-44 {
  margin-left: 11rem;
}

.ml-48 {
  margin-left: 12rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-52 {
  margin-left: 13rem;
}

.ml-56 {
  margin-left: 14rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-60 {
  margin-left: 15rem;
}

.ml-64 {
  margin-left: 16rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-72 {
  margin-left: 18rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-80 {
  margin-left: 20rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.ml-96 {
  margin-left: 24rem;
}

.ml-auto {
  margin-left: auto;
}

.ml-px {
  margin-left: 1px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-0\.5 {
  margin-top: 0.125rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-1\.5 {
  margin-top: 0.375rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-2\.5 {
  margin-top: 0.625rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mt-28 {
  margin-top: 7rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-3\.5 {
  margin-top: 0.875rem;
}

.mt-32 {
  margin-top: 8rem;
}

.mt-36 {
  margin-top: 9rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-40 {
  margin-top: 10rem;
}

.mt-44 {
  margin-top: 11rem;
}

.mt-48 {
  margin-top: 12rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-52 {
  margin-top: 13rem;
}

.mt-56 {
  margin-top: 14rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-60 {
  margin-top: 15rem;
}

.mt-64 {
  margin-top: 16rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-72 {
  margin-top: 18rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-80 {
  margin-top: 20rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-96 {
  margin-top: 24rem;
}

.mt-\[20vh\] {
  margin-top: 20vh;
}

.mt-auto {
  margin-top: auto;
}

.mt-px {
  margin-top: 1px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0px;
}

.h-12 {
  height: 3rem;
}

.h-24 {
  height: 6rem;
}

.h-4 {
  height: 1rem;
}

.h-\[75vh\] {
  height: 75vh;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.max-h-\[75vh\] {
  max-height: 75vh;
}

.w-0 {
  width: 0px;
}

.w-12 {
  width: 3rem;
}

.w-24 {
  width: 6rem;
}

.w-4 {
  width: 1rem;
}

.w-8 {
  width: 2rem;
}

.w-\[25vw\] {
  width: 25vw;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.w-screen-scroll {
  width: calc(100vw - 14px);
}

.max-w-2\/3 {
  max-width: 66.6666666%;
}

.max-w-prose {
  max-width: 65ch;
}

.max-w-none {
  max-width: none;
}

.shrink-0 {
  flex-shrink: 0;
}

.-rotate-\[90deg\] {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.snap-y {
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
}

.snap-proximity {
  --tw-scroll-snap-strictness: proximity;
}

.snap-start {
  scroll-snap-align: start;
}

.-scroll-ml-0 {
  scroll-margin-left: 0px;
}

.-scroll-ml-0\.5 {
  scroll-margin-left: -0.125rem;
}

.-scroll-ml-1 {
  scroll-margin-left: -0.25rem;
}

.-scroll-ml-1\.5 {
  scroll-margin-left: -0.375rem;
}

.-scroll-ml-10 {
  scroll-margin-left: -2.5rem;
}

.-scroll-ml-11 {
  scroll-margin-left: -2.75rem;
}

.-scroll-ml-12 {
  scroll-margin-left: -3rem;
}

.-scroll-ml-14 {
  scroll-margin-left: -3.5rem;
}

.-scroll-ml-16 {
  scroll-margin-left: -4rem;
}

.-scroll-ml-2 {
  scroll-margin-left: -0.5rem;
}

.-scroll-ml-2\.5 {
  scroll-margin-left: -0.625rem;
}

.-scroll-ml-20 {
  scroll-margin-left: -5rem;
}

.-scroll-ml-24 {
  scroll-margin-left: -6rem;
}

.-scroll-ml-28 {
  scroll-margin-left: -7rem;
}

.-scroll-ml-3 {
  scroll-margin-left: -0.75rem;
}

.-scroll-ml-3\.5 {
  scroll-margin-left: -0.875rem;
}

.-scroll-ml-32 {
  scroll-margin-left: -8rem;
}

.-scroll-ml-36 {
  scroll-margin-left: -9rem;
}

.-scroll-ml-4 {
  scroll-margin-left: -1rem;
}

.-scroll-ml-40 {
  scroll-margin-left: -10rem;
}

.-scroll-ml-44 {
  scroll-margin-left: -11rem;
}

.-scroll-ml-48 {
  scroll-margin-left: -12rem;
}

.-scroll-ml-5 {
  scroll-margin-left: -1.25rem;
}

.-scroll-ml-52 {
  scroll-margin-left: -13rem;
}

.-scroll-ml-56 {
  scroll-margin-left: -14rem;
}

.-scroll-ml-6 {
  scroll-margin-left: -1.5rem;
}

.-scroll-ml-60 {
  scroll-margin-left: -15rem;
}

.-scroll-ml-64 {
  scroll-margin-left: -16rem;
}

.-scroll-ml-7 {
  scroll-margin-left: -1.75rem;
}

.-scroll-ml-72 {
  scroll-margin-left: -18rem;
}

.-scroll-ml-8 {
  scroll-margin-left: -2rem;
}

.-scroll-ml-80 {
  scroll-margin-left: -20rem;
}

.-scroll-ml-9 {
  scroll-margin-left: -2.25rem;
}

.-scroll-ml-96 {
  scroll-margin-left: -24rem;
}

.-scroll-ml-px {
  scroll-margin-left: -1px;
}

.-scroll-mt-0 {
  scroll-margin-top: 0px;
}

.-scroll-mt-0\.5 {
  scroll-margin-top: -0.125rem;
}

.-scroll-mt-1 {
  scroll-margin-top: -0.25rem;
}

.-scroll-mt-1\.5 {
  scroll-margin-top: -0.375rem;
}

.-scroll-mt-10 {
  scroll-margin-top: -2.5rem;
}

.-scroll-mt-11 {
  scroll-margin-top: -2.75rem;
}

.-scroll-mt-12 {
  scroll-margin-top: -3rem;
}

.-scroll-mt-14 {
  scroll-margin-top: -3.5rem;
}

.-scroll-mt-16 {
  scroll-margin-top: -4rem;
}

.-scroll-mt-2 {
  scroll-margin-top: -0.5rem;
}

.-scroll-mt-2\.5 {
  scroll-margin-top: -0.625rem;
}

.-scroll-mt-20 {
  scroll-margin-top: -5rem;
}

.-scroll-mt-24 {
  scroll-margin-top: -6rem;
}

.-scroll-mt-28 {
  scroll-margin-top: -7rem;
}

.-scroll-mt-3 {
  scroll-margin-top: -0.75rem;
}

.-scroll-mt-3\.5 {
  scroll-margin-top: -0.875rem;
}

.-scroll-mt-32 {
  scroll-margin-top: -8rem;
}

.-scroll-mt-36 {
  scroll-margin-top: -9rem;
}

.-scroll-mt-4 {
  scroll-margin-top: -1rem;
}

.-scroll-mt-40 {
  scroll-margin-top: -10rem;
}

.-scroll-mt-44 {
  scroll-margin-top: -11rem;
}

.-scroll-mt-48 {
  scroll-margin-top: -12rem;
}

.-scroll-mt-5 {
  scroll-margin-top: -1.25rem;
}

.-scroll-mt-52 {
  scroll-margin-top: -13rem;
}

.-scroll-mt-56 {
  scroll-margin-top: -14rem;
}

.-scroll-mt-6 {
  scroll-margin-top: -1.5rem;
}

.-scroll-mt-60 {
  scroll-margin-top: -15rem;
}

.-scroll-mt-64 {
  scroll-margin-top: -16rem;
}

.-scroll-mt-7 {
  scroll-margin-top: -1.75rem;
}

.-scroll-mt-72 {
  scroll-margin-top: -18rem;
}

.-scroll-mt-8 {
  scroll-margin-top: -2rem;
}

.-scroll-mt-80 {
  scroll-margin-top: -20rem;
}

.-scroll-mt-9 {
  scroll-margin-top: -2.25rem;
}

.-scroll-mt-96 {
  scroll-margin-top: -24rem;
}

.-scroll-mt-px {
  scroll-margin-top: -1px;
}

.scroll-ml-0 {
  scroll-margin-left: 0px;
}

.scroll-ml-0\.5 {
  scroll-margin-left: 0.125rem;
}

.scroll-ml-1 {
  scroll-margin-left: 0.25rem;
}

.scroll-ml-1\.5 {
  scroll-margin-left: 0.375rem;
}

.scroll-ml-10 {
  scroll-margin-left: 2.5rem;
}

.scroll-ml-11 {
  scroll-margin-left: 2.75rem;
}

.scroll-ml-12 {
  scroll-margin-left: 3rem;
}

.scroll-ml-14 {
  scroll-margin-left: 3.5rem;
}

.scroll-ml-16 {
  scroll-margin-left: 4rem;
}

.scroll-ml-2 {
  scroll-margin-left: 0.5rem;
}

.scroll-ml-2\.5 {
  scroll-margin-left: 0.625rem;
}

.scroll-ml-20 {
  scroll-margin-left: 5rem;
}

.scroll-ml-24 {
  scroll-margin-left: 6rem;
}

.scroll-ml-28 {
  scroll-margin-left: 7rem;
}

.scroll-ml-3 {
  scroll-margin-left: 0.75rem;
}

.scroll-ml-3\.5 {
  scroll-margin-left: 0.875rem;
}

.scroll-ml-32 {
  scroll-margin-left: 8rem;
}

.scroll-ml-36 {
  scroll-margin-left: 9rem;
}

.scroll-ml-4 {
  scroll-margin-left: 1rem;
}

.scroll-ml-40 {
  scroll-margin-left: 10rem;
}

.scroll-ml-44 {
  scroll-margin-left: 11rem;
}

.scroll-ml-48 {
  scroll-margin-left: 12rem;
}

.scroll-ml-5 {
  scroll-margin-left: 1.25rem;
}

.scroll-ml-52 {
  scroll-margin-left: 13rem;
}

.scroll-ml-56 {
  scroll-margin-left: 14rem;
}

.scroll-ml-6 {
  scroll-margin-left: 1.5rem;
}

.scroll-ml-60 {
  scroll-margin-left: 15rem;
}

.scroll-ml-64 {
  scroll-margin-left: 16rem;
}

.scroll-ml-7 {
  scroll-margin-left: 1.75rem;
}

.scroll-ml-72 {
  scroll-margin-left: 18rem;
}

.scroll-ml-8 {
  scroll-margin-left: 2rem;
}

.scroll-ml-80 {
  scroll-margin-left: 20rem;
}

.scroll-ml-9 {
  scroll-margin-left: 2.25rem;
}

.scroll-ml-96 {
  scroll-margin-left: 24rem;
}

.scroll-ml-px {
  scroll-margin-left: 1px;
}

.scroll-mt-0 {
  scroll-margin-top: 0px;
}

.scroll-mt-0\.5 {
  scroll-margin-top: 0.125rem;
}

.scroll-mt-1 {
  scroll-margin-top: 0.25rem;
}

.scroll-mt-1\.5 {
  scroll-margin-top: 0.375rem;
}

.scroll-mt-10 {
  scroll-margin-top: 2.5rem;
}

.scroll-mt-11 {
  scroll-margin-top: 2.75rem;
}

.scroll-mt-12 {
  scroll-margin-top: 3rem;
}

.scroll-mt-14 {
  scroll-margin-top: 3.5rem;
}

.scroll-mt-16 {
  scroll-margin-top: 4rem;
}

.scroll-mt-2 {
  scroll-margin-top: 0.5rem;
}

.scroll-mt-2\.5 {
  scroll-margin-top: 0.625rem;
}

.scroll-mt-20 {
  scroll-margin-top: 5rem;
}

.scroll-mt-24 {
  scroll-margin-top: 6rem;
}

.scroll-mt-28 {
  scroll-margin-top: 7rem;
}

.scroll-mt-3 {
  scroll-margin-top: 0.75rem;
}

.scroll-mt-3\.5 {
  scroll-margin-top: 0.875rem;
}

.scroll-mt-32 {
  scroll-margin-top: 8rem;
}

.scroll-mt-36 {
  scroll-margin-top: 9rem;
}

.scroll-mt-4 {
  scroll-margin-top: 1rem;
}

.scroll-mt-40 {
  scroll-margin-top: 10rem;
}

.scroll-mt-44 {
  scroll-margin-top: 11rem;
}

.scroll-mt-48 {
  scroll-margin-top: 12rem;
}

.scroll-mt-5 {
  scroll-margin-top: 1.25rem;
}

.scroll-mt-52 {
  scroll-margin-top: 13rem;
}

.scroll-mt-56 {
  scroll-margin-top: 14rem;
}

.scroll-mt-6 {
  scroll-margin-top: 1.5rem;
}

.scroll-mt-60 {
  scroll-margin-top: 15rem;
}

.scroll-mt-64 {
  scroll-margin-top: 16rem;
}

.scroll-mt-7 {
  scroll-margin-top: 1.75rem;
}

.scroll-mt-72 {
  scroll-margin-top: 18rem;
}

.scroll-mt-8 {
  scroll-margin-top: 2rem;
}

.scroll-mt-80 {
  scroll-margin-top: 20rem;
}

.scroll-mt-9 {
  scroll-margin-top: 2.25rem;
}

.scroll-mt-96 {
  scroll-margin-top: 24rem;
}

.scroll-mt-px {
  scroll-margin-top: 1px;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-full {
  border-radius: 9999px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.p-8 {
  padding: 2rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-\[3vw\] {
  padding-left: 3vw;
  padding-right: 3vw;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-px {
  padding-top: 1px;
}

.text-right {
  text-align: right;
}

.font-sans {
  font-family: elido, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
  font-family: marlide-display-variable, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.text-2xl {
  font-size: clamp(3.552rem, 3.0029rem + 2.7455vw, 5.1307rem);
}

.text-lg {
  font-size: clamp(1.999rem, 1.69rem + 1.5451vw, 2.8874rem);
}

.text-md {
  font-size: clamp(1.4996rem, 1.2678rem + 1.1591vw, 2.1661rem);
}

.text-sm {
  font-size: clamp(0.844rem, 0.7135rem + 0.6523vw, 1.2191rem);
}

.text-zero {
  font-size: 0px;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.tracking-extra {
  letter-spacing: 0.85rem;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0, 0, 0, var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255, 255, 255, var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-50 {
  opacity: 0.5;
}

.mix-blend-lighten {
  mix-blend-mode: lighten;
}

.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}

.drop-shadow-base {
  --tw-drop-shadow: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.15));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.duration-700 {
  transition-duration: 700ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Background colour  */
.b-buff-light {
  background-color: var(--buff-light);
}

.b-green-light {
  background-color: var(--green-light);
}

.b-green {
  background-color: var(--green);
}

.b-white {
  background-color: white;
}

.b-white-35 {
  background-color: rgba(255, 255, 255, 0.35);
}

.b-black-35 {
  background-color: rgba(0, 0, 0, 0.35);
}

/* Text colour  */
.c-buff {
  color: var(--buff);
}

.c-white {
  color: white;
}

/* Border colour  */
.br-buff {
  border-color: var(--buff);
}

/* Placeholder */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 102.5rem;
  padding-left: 3vw;
  padding-right: 3vw;
}

.bleed {
  margin-left: -3vw;
  margin-right: -3vw;
  max-width: none;
  padding: 0px;
}

.border-spaced-left {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 10%, rgba(255, 255, 255, 0) 0%);
  background-position: 2px 0px;
  background-size: 1px 10px;
  background-repeat: repeat-y;
}

a.link {
  display: inline;
  font-family: elido, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: clamp(1.4996rem, 1.2678rem + 1.1591vw, 2.1661rem);
  text-decoration-line: none;
  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--buff);
  background-image: linear-gradient(90deg, var(--pink) 0%, var(--pink) 50%, var(--buff) 50%, var(--buff) 100%);
  background-origin: padding-box;
  background-size: 200% 2px;
  background-position: 100% 90%;
  background-repeat: no-repeat;
}

a.link:hover,
a.link:focus {
  color: var(--pink);
  background-position: 0% 90%;
}

:root {
  --buff-light: #f8eedd;
  --buff: #f3e6d0;
  --green-light: #579e6c;
  --green: #417651;
  --green-dark: #2e5339;
  --grey: #6E6555;
  --grey-dark: #31230d;
  --pink: #ffb291;
}

body {
  font-family: elido, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: clamp(1.125rem, 0.9511rem + 0.8696vw, 1.625rem);
  background-color: var(--buff-light);
  color: var(--grey-dark);
}

h1,
.h1 {
  margin-bottom: 0.25rem;
  font-family: marlide-display-variable, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: clamp(3.552rem, 3.0029rem + 2.7455vw, 5.1307rem);
  line-height: 1;
}

h4 h1,
h4 .h1 {
  font-variation-settings: "wght" 700;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: clamp(4.7348rem, 4.0029rem + 3.6598vw, 6.8392rem);
  }
}
@media (min-width: 1024px) {
  h1,
  .h1 {
    margin-bottom: 0.75rem;
    font-size: clamp(6.3115rem, 5.3358rem + 4.8785vw, 9.1166rem);
  }
}
h2,
.h2 {
  margin-bottom: 1rem;
  font-family: marlide-display-variable, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: clamp(1.999rem, 1.69rem + 1.5451vw, 2.8874rem);
  line-height: 1;
}

h4 h2,
h4 .h2 {
  font-variation-settings: "wght" 700;
}

@media (min-width: 1024px) {
  h2,
  .h2 {
    margin-bottom: 2rem;
    font-size: clamp(2.6647rem, 2.2527rem + 2.0596vw, 3.849rem);
  }
}
h3,
.h3 {
  margin-bottom: 1rem;
  font-family: marlide-display-variable, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: clamp(1.4996rem, 1.2678rem + 1.1591vw, 2.1661rem);
  line-height: 1;
}

h4 h3,
h4 .h3 {
  font-variation-settings: "wght" 700;
}

@media (min-width: 1024px) {
  h3,
  .h3 {
    margin-bottom: 2rem;
    font-size: clamp(1.999rem, 1.69rem + 1.5451vw, 2.8874rem);
  }
}
h4,
.h4 {
  margin-bottom: 1rem;
  font-family: marlide-display-variable, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: clamp(1.125rem, 0.9511rem + 0.8696vw, 1.625rem);
  line-height: 1;
}

h4 h4,
h4 .h4 {
  font-variation-settings: "wght" 700;
}

@media (min-width: 1024px) {
  h4,
  .h4 {
    margin-bottom: 2rem;
    font-size: clamp(1.4996rem, 1.2678rem + 1.1591vw, 2.1661rem);
  }
}
h1, h2, h3, h4 .font-serif {
  font-variation-settings: "wght" 700;
}

p + h2,
p + h3,
p + h4 {
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  p + h2,
  p + h3,
  p + h4 {
    margin-top: 4rem;
  }
}
p {
  margin-bottom: 1rem;
  font-family: elido, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: clamp(1.125rem, 0.9511rem + 0.8696vw, 1.625rem);
  line-height: 1.25;
}

@media (min-width: 1024px) {
  p {
    margin-bottom: 2rem;
  }
}
.content-bleed {
  margin-left: -3vw;
}
@media (min-width: 1024px) {
  .content-bleed {
    margin-left: calc(-33.3333333333% - 3vw - 8px);
  }
}
@media (min-width: 1280px) {
  .content-bleed {
    margin-left: calc(-50% - 3vw - 8px);
  }
}
@media (min-width: 1640px) {
  .content-bleed {
    margin-left: calc(-50% - 3vw - 8px - (100vw - 14px - 102.5rem) / 2);
  }
}

@media (min-width: 768px) {
  .content-bleed-right {
    margin-right: -23.5vw;
  }
}
@media (min-width: 1024px) {
  .content-bleed-right {
    margin-right: -31.3333333333vw;
  }
}
@media (min-width: 1280px) {
  .content-bleed-right {
    margin-right: -47vw;
  }
}
@media (min-width: 1640px) {
  .content-bleed-right {
    margin-right: calc(-1 * (102.5rem - 6vw) / 2);
  }
}

/*@import "_nav";
@import "_home";
@import "_hero";

@import "_background";
@import "_tabs";*/
@media (min-width: 1024px) {
  .lg\:container {
    width: 100%;
  }
}
@media (min-width: 1024px) and (min-width: 640px) {
  .lg\:container {
    max-width: 640px;
  }
}
@media (min-width: 1024px) and (min-width: 768px) {
  .lg\:container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .lg\:container {
    max-width: 1024px;
  }
}
@media (min-width: 1024px) and (min-width: 1280px) {
  .lg\:container {
    max-width: 1280px;
  }
}
@media (min-width: 1024px) and (min-width: 1536px) {
  .lg\:container {
    max-width: 1536px;
  }
}
.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:-left-0\.5::before {
  content: var(--tw-content);
  left: -0.125rem;
}

.before\:-left-1::before {
  content: var(--tw-content);
  left: -0.25rem;
}

.before\:-left-5::before {
  content: var(--tw-content);
  left: -1.25rem;
}

.before\:top-1\.5::before {
  content: var(--tw-content);
  top: 0.375rem;
}

.before\:mr-2::before {
  content: var(--tw-content);
  margin-right: 0.5rem;
}

.before\:h-3::before {
  content: var(--tw-content);
  height: 0.75rem;
}

.before\:w-3::before {
  content: var(--tw-content);
  width: 0.75rem;
}

.before\:rounded-full::before {
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:bg-\[currentColor\]::before {
  content: var(--tw-content);
  background-color: currentColor;
}

.before\:b-green-light::before {
  content: var(--tw-content);
  background-color: var(--green-light);
}

.before\:b-grey-dark::before {
  content: var(--tw-content);
  background-color: var(--grey-dark);
}

.hover\:opacity-100:hover {
  opacity: 1;
}

.focus\:opacity-100:focus {
  opacity: 1;
}

.group:hover .group-hover\:ml-0 {
  margin-left: 0px;
}

.group:hover .group-hover\:h-16 {
  height: 4rem;
}

.group:hover .group-hover\:w-16 {
  width: 4rem;
}

.group:hover .group-hover\:rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:text-sm {
  font-size: clamp(0.844rem, 0.7135rem + 0.6523vw, 1.2191rem);
}

.group:hover .group-hover\:opacity-0 {
  opacity: 0;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.group:hover .group-hover\:grayscale-0 {
  --tw-grayscale: grayscale(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.group:focus .group-focus\:ml-0 {
  margin-left: 0px;
}

.group:focus .group-focus\:h-16 {
  height: 4rem;
}

.group:focus .group-focus\:w-16 {
  width: 4rem;
}

.group:focus .group-focus\:rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:focus .group-focus\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:focus .group-focus\:text-sm {
  font-size: clamp(0.844rem, 0.7135rem + 0.6523vw, 1.2191rem);
}

.group:focus .group-focus\:opacity-100 {
  opacity: 1;
}

@media (min-width: 768px) {
  .md\:col-span-3 {
    grid-column: span 3/span 3;
  }
  .md\:-mb-\[10px\] {
    margin-bottom: -10px;
  }
  .md\:ml-auto {
    margin-left: auto;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:pb-0 {
    padding-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }
  .lg\:relative {
    position: relative;
  }
  .lg\:-bottom-24 {
    bottom: -6rem;
  }
  .lg\:-left-6 {
    left: -1.5rem;
  }
  .lg\:-left-9 {
    left: -2.25rem;
  }
  .lg\:bottom-12 {
    bottom: 3rem;
  }
  .lg\:left-0 {
    left: 0px;
  }
  .lg\:right-0 {
    right: 0px;
  }
  .lg\:right-auto {
    right: auto;
  }
  .lg\:top-0 {
    top: 0px;
  }
  .lg\:top-2\/3 {
    top: 66.666667%;
  }
  .lg\:top-20 {
    top: 5rem;
  }
  .lg\:top-6 {
    top: 1.5rem;
  }
  .lg\:z-20 {
    z-index: 20;
  }
  .lg\:col-span-6 {
    grid-column: span 6/span 6;
  }
  .lg\:col-span-8 {
    grid-column: span 8/span 8;
  }
  .lg\:col-start-3 {
    grid-column-start: 3;
  }
  .lg\:m-0 {
    margin: 0px;
  }
  .lg\:my-24 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .lg\:-ml-48 {
    margin-left: -12rem;
  }
  .lg\:mb-0 {
    margin-bottom: 0px;
  }
  .lg\:mb-36 {
    margin-bottom: 9rem;
  }
  .lg\:mb-4 {
    margin-bottom: 1rem;
  }
  .lg\:ml-0 {
    margin-left: 0px;
  }
  .lg\:ml-\[20vw\] {
    margin-left: 20vw;
  }
  .lg\:mt-0 {
    margin-top: 0px;
  }
  .lg\:block {
    display: block;
  }
  .lg\:flex {
    display: flex;
  }
  .lg\:grid {
    display: grid;
  }
  .lg\:hidden {
    display: none;
  }
  .lg\:h-40 {
    height: 10rem;
  }
  .lg\:h-6 {
    height: 1.5rem;
  }
  .lg\:h-\[110vh\] {
    height: 110vh;
  }
  .lg\:h-\[95vh\] {
    height: 95vh;
  }
  .lg\:h-screen {
    height: 100vh;
  }
  .lg\:max-h-none {
    max-height: none;
  }
  .lg\:min-h-screen {
    min-height: 100vh;
  }
  .lg\:w-11 {
    width: 2.75rem;
  }
  .lg\:w-12 {
    width: 3rem;
  }
  .lg\:w-40 {
    width: 10rem;
  }
  .lg\:w-52 {
    width: 13rem;
  }
  .lg\:w-6 {
    width: 1.5rem;
  }
  .lg\:w-96 {
    width: 24rem;
  }
  .lg\:w-\[10vw\] {
    width: 10vw;
  }
  .lg\:w-auto {
    width: auto;
  }
  .lg\:w-full {
    width: 100%;
  }
  .lg\:w-hero {
    width: calc((100% - 80px) * 0.33333);
  }
  .lg\:max-w-none {
    max-width: none;
  }
  .lg\:-rotate-90 {
    --tw-rotate: -90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .lg\:rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .lg\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:items-end {
    align-items: flex-end;
  }
  .lg\:items-center {
    align-items: center;
  }
  .lg\:gap-12 {
    gap: 3rem;
  }
  .lg\:gap-32 {
    gap: 8rem;
  }
  .lg\:gap-4 {
    gap: 1rem;
  }
  .lg\:overflow-hidden {
    overflow: hidden;
  }
  .lg\:overflow-x-auto {
    overflow-x: auto;
  }
  .lg\:overflow-y-hidden {
    overflow-y: hidden;
  }
  .lg\:border-none {
    border-style: none;
  }
  .lg\:bg-transparent {
    background-color: transparent;
  }
  .lg\:p-0 {
    padding: 0px;
  }
  .lg\:p-12 {
    padding: 3rem;
  }
  .lg\:px-\[25vw\] {
    padding-left: 25vw;
    padding-right: 25vw;
  }
  .lg\:pb-44 {
    padding-bottom: 11rem;
  }
  .lg\:pb-8 {
    padding-bottom: 2rem;
  }
  .lg\:pl-0 {
    padding-left: 0px;
  }
  .lg\:pr-7 {
    padding-right: 1.75rem;
  }
  .lg\:pt-0 {
    padding-top: 0px;
  }
  .lg\:text-left {
    text-align: left;
  }
  .lg\:text-center {
    text-align: center;
  }
  .lg\:text-base {
    font-size: clamp(1.125rem, 0.9511rem + 0.8696vw, 1.625rem);
  }
  .lg\:text-lg {
    font-size: clamp(1.999rem, 1.69rem + 1.5451vw, 2.8874rem);
  }
  .lg\:text-sm {
    font-size: clamp(0.844rem, 0.7135rem + 0.6523vw, 1.2191rem);
  }
  .lg\:text-xs {
    font-size: clamp(0.6331rem, 0.5353rem + 0.4894vw, 0.9145rem);
  }
  .lg\:opacity-0 {
    opacity: 0;
  }
  .lg\:container {
    margin-left: auto;
    margin-right: auto;
    max-width: 102.5rem;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .lg\:no-container {
    max-width: none;
    padding: 0px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .lg\:no-container {
    padding: 0px;
  }
}
@media (min-width: 1024px) {
  .lg\:no-bleed {
    margin-left: 0px;
    margin-right: 0px;
  }
  .lg\:border-spaced-bottom {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6) 10%, rgba(255, 255, 255, 0) 0%);
    background-position: 0px calc(100% - 145px);
    background-size: 10px 1px;
    background-repeat: repeat-X;
  }
  .lg\:before\:-bottom-9::before {
    content: var(--tw-content);
    bottom: -2.25rem;
  }
  .lg\:before\:left-1\/2::before {
    content: var(--tw-content);
    left: 50%;
  }
  .lg\:before\:left-auto::before {
    content: var(--tw-content);
    left: auto;
  }
  .lg\:before\:right-4::before {
    content: var(--tw-content);
    right: 1rem;
  }
  .lg\:before\:top-auto::before {
    content: var(--tw-content);
    top: auto;
  }
  .lg\:before\:-ml-1\.5::before {
    content: var(--tw-content);
    margin-left: -0.375rem;
  }
  .lg\:before\:h-4::before {
    content: var(--tw-content);
    height: 1rem;
  }
  .lg\:before\:w-4::before {
    content: var(--tw-content);
    width: 1rem;
  }
  .lg\:after\:absolute::after {
    content: var(--tw-content);
    position: absolute;
  }
  .lg\:after\:-bottom-7::after {
    content: var(--tw-content);
    bottom: -1.75rem;
  }
  .lg\:after\:left-1\/2::after {
    content: var(--tw-content);
    left: 50%;
  }
  .lg\:after\:left-\[3\.5px\]::after {
    content: var(--tw-content);
    left: 3.5px;
  }
  .lg\:after\:right-\[21px\]::after {
    content: var(--tw-content);
    right: 21px;
  }
  .lg\:after\:z-0::after {
    content: var(--tw-content);
    z-index: 0;
  }
  .lg\:after\:h-3\/4::after {
    content: var(--tw-content);
    height: 75%;
  }
  .lg\:after\:h-8::after {
    content: var(--tw-content);
    height: 2rem;
  }
  .lg\:after\:h-full::after {
    content: var(--tw-content);
    height: 100%;
  }
  .lg\:after\:w-px::after {
    content: var(--tw-content);
    width: 1px;
  }
  .lg\:after\:b-green-light::after {
    content: var(--tw-content);
    background-color: var(--green-light);
  }
  .lg\:after\:b-grey-dark::after {
    content: var(--tw-content);
    background-color: var(--grey-dark);
  }
  .hover\:lg\:-mt-3:hover {
    margin-top: -0.75rem;
  }
  .focus\:lg\:-mt-3:focus {
    margin-top: -0.75rem;
  }
  .group:hover .lg\:group-hover\:-top-4 {
    top: -1rem;
  }
  .group:hover .group-hover\:lg\:ml-0 {
    margin-left: 0px;
  }
  .group:hover .group-hover\:lg\:ml-8 {
    margin-left: 2rem;
  }
  .group:hover .group-hover\:lg\:h-18 {
    height: 4.5rem;
  }
  .group:hover .group-hover\:lg\:h-24 {
    height: 6rem;
  }
  .group:hover .group-hover\:lg\:w-18 {
    width: 4.5rem;
  }
  .group:hover .group-hover\:lg\:w-24 {
    width: 6rem;
  }
  .group:hover .lg\:group-hover\:scale-105 {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .group:hover .group-hover\:lg\:opacity-100 {
    opacity: 1;
  }
  .group:focus .group-focus\:lg\:ml-0 {
    margin-left: 0px;
  }
  .group:focus .group-focus\:lg\:ml-8 {
    margin-left: 2rem;
  }
  .group:focus .group-focus\:lg\:h-18 {
    height: 4.5rem;
  }
  .group:focus .group-focus\:lg\:h-24 {
    height: 6rem;
  }
  .group:focus .group-focus\:lg\:w-18 {
    width: 4.5rem;
  }
  .group:focus .group-focus\:lg\:w-24 {
    width: 6rem;
  }
  .group:focus .group-focus\:lg\:opacity-100 {
    opacity: 1;
  }
}
@media (min-width: 1280px) {
  .xl\:col-span-4 {
    grid-column: span 4/span 4;
  }
  .xl\:col-start-3 {
    grid-column-start: 3;
  }
  .xl\:w-hero-xl {
    width: calc((100% - 80px) * 0.5);
  }
}

/*# sourceMappingURL=styles.css.map */