{% if page.url == '/' %}
  {% assign pagetitle = page.title %}
{% else %}
  {% assign pagetitle = page.title | append: ' - ' | append: page.location | append: ' - ' | append: page.month | append: ' - The Adventures of Mat & Kez' %}
{% endif  %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pagetitle }}</title>
    <link rel="preconnect" href="https://use.typekit.net">
    <link rel="stylesheet" href="https://use.typekit.net/ggg6vgi.css">
    
    <link rel="stylesheet" href="/assets/css/styles.css">

    <script src="/assets/js/app.js"></script>

    <link rel="apple-touch-icon" href="images/favicon-196.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32.png">
    <meta name="robots" content="none">
    <meta content="en_GB" property="og:locale">
    <meta content="The Adventures of Mat & Kez" property="og:site_name">
    <meta content="website" property="og:type">
    <meta content="{{ site.url }}" property="og:url">
    <link href="{{ site.url }}{{ page.url }}" rel="canonical">
    <link href="{{ site.url }}" rel="home">
    <link type="text/plain" href="{{ site.url }}/humans.txt" rel="author">
    <meta name="theme-color" content="#151917" />
    
  </head>
  <body class="{{ page.bodyClass }} pt-20 lg:pt-0">
    <header class="transition-all duration-500 ease-in-out container lg:max-w-none pt-2 pb-3 border-b br-buff lg:border-none b-buff-light z-40 top-0 fixed lg:-rotate-90 lg:absolute lg:-left-6 lg:top-20 lg:bg-transparent lg:max-w-none lg:p-0 lg:w-auto">
      {% if page.url != '/' %}<a href="/#post-{{ page.slug }}">{% endif %}
        <img src="/assets/images/mnk-logo-sml.svg" class="lg:hidden" role="presentation" width="100" height="45">
        <img src="/assets/images/mnk-logo.svg" class="hidden lg:block" role="presentation" width="240" height="160">
      {% if page.url != '/' %}</a>{% endif %}
    </header>
    <main>
      {{ content }}
    </main>
    <footer></footer>
  </body>
</html>