<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.seo.title }} - The Adventures of Mat & Kez</title>
    <link rel="preconnect" href="https://use.typekit.net">
    <link rel="stylesheet" href="https://use.typekit.net/ggg6vgi.css">
    
    <link rel="stylesheet" href="/assets/css/styles.css">

    <script src="/assets/js/app.js"></script>

    <link rel="apple-touch-icon" href="images/favicon-196.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32.png">
    <meta name="description" content="{{ page.seo.description }}">
    <meta name="robots" content="noindex">
    <meta content="en_GB" property="og:locale">
    <meta content="The Adventures of Mat & Kez" property="og:site_name">
    <meta content="website" property="og:type">
    <meta content="{{ site.url }}" property="og:url">
    <meta content="{{ page.seo.title }} - The Adventures of Mat & Kez" property="og:title">
    <meta content="{{ page.seo.description }}" property="og:description">
    <meta content="{{ site.image_base }}{{ page.seo.image.url }}w=1200&h=630&fit=crop" property="og:image">
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">
    <meta content="{{ page.seo.image.alt }}" property="og:image:alt">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@madebykind">
    <meta name="twitter:title" content="{{ page.seo.title }}">
    <meta name="twitter:description" content="{{ page.seo.description }}">
    <meta name="twitter:image" content="{{ site.image_base }}{{ page.seo.image.url }}?w=1200&h=600&fit=crop">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="600">
    <meta name="twitter:image:alt" content="{{ page.seo.image.alt }}">
    <link href="{{ site.url }}{{ page.url }}" rel="canonical">
    <link href="{{ site.url }}" rel="home">
    <link type="text/plain" href="{{ site.url }}/humans.txt" rel="author">
    <meta name="theme-color" content="#151917" />
    
  </head>
  <body class="{{ page.bodyClass }} pt-20 lg:pt-0">
    <header class="container lg:max-w-none pt-2 pb-3 border-b br-buff lg:border-none b-buff-light z-30 top-0 fixed lg:-rotate-90 lg:absolute lg:-left-6 lg:top-20 lg:bg-transparent lg:max-w-none lg:p-0 lg:w-auto ">
      <img src="/assets/images/mnk-logo-sml.svg" class="lg:hidden" role="presentation" width="100" height="45">
      <img src="/assets/images/mnk-logo.svg" class="hidden lg:block" role="presentation" width="240" height="160">
    </header>
    <main>
      {{ content }}
    </main>
    <footer></footer>
  </body>
</html>